.nombre{
    text-align: center;
    color: #d3dc4f;
   font-family: 'Bahnschrift SemiCondensed';
    font-size: 35px;   
}

.portfolio{
    text-align: center;
    color: #41b4b8;
    font-family: 'Bahnschrift SemiBold';
    font-size: 28px;  
}

.foto{
    border-radius: 50%;
    width: 115px;
    height: 115px;
    float: left;
}

.intro{
    margin-left: 200px;
    color: #ccf5f3;
    font-family: Calibri;
    font-size: 20px;  
    
}

.pregunta{
    font-size: 25px;
    font-style: oblique;
    margin-top: 10px;
}

.fondo1{
    background-color: #15041a88;
    padding-bottom: 80px;
    
}

button{
    background-color: yellowgreen;
    color: black;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    border-radius: 30%;
}

.datos{
    color: #41b4b8;
    font-family: 'Franklin Gothic Medium';
    font-size: 20px;
    margin-left: 10px;
}

.columna{
    float: right;  
    margin-top: 30px;
    background-color: #15041a88;
    width: 50%;
    margin-bottom: 100px;
}

.texto{
    color: #ccf5f3;
    font-family: Calibri;
    font-size: 18px;  
    margin-left: 10px;   
    
}

#llegada{
    position: absolute; 
    top: 250px;
    left: 350px;
    width: 100px;
    height: 100px;

}
#cuadrado{
    width: 100px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 30px;
    top: 150px;
}
.cuadros span{
    position: absolute;
    color: white;
    font-weight: bold;
    font-family: Calibri;
}
.cuadros span.s1{
    left: 42%;
    top: 0px;
}
.cuadros span.s2{
  left: 5px;
  top: 40%;
}
.cuadros span.s3{
  right: 5px;
  top: 40%;
}
.cuadros span.s4{
  bottom: 0px;
  left: 43%
}
#aviso{
    visibility: hidden;
    font-family: Arial;
    font-size: 40px;
    top: 250px;
    left: 35%;
    position: absolute;
    color: #d3dc4f;
}